.ChartPage {
  margin: 2rem 2rem 0;

  .body {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .MeasureList {
    margin-bottom: 30vh;
  }

  @media (width < 732px) {
    .mobileOnlyHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      margin-bottom: 1rem;

      position: sticky;
      top: 0;
      z-index: 10;
    }
    
    .desktopOnlyDetails {
      display: none;
    }
  }

  @media (width >= 732px) {
    .mobileOnlyHeader {
      display: none;
    }

    .desktopOnlyDetails {
      display: block;
      position: sticky;
      top: 0;

      width: 312px;
      height: fit-content;
      max-height: 100vh;
      overflow: scroll;
      padding-bottom: 2rem;
    }
  }
}
