.ChartCsvEditor {
  position: fixed;
  right: 0;
  height: 100vh;
  padding: 1rem;
  overflow: scroll;

  display: flex;
  flex-direction: column;

  .textarea {
    flex-grow: 1;
    // Pretty jarring with current scroll bug
    // scroll-behavior: smooth;
  }
}

.highlight {
  border: 2px solid rgba(255, 0, 0, 0.6) !important;
}
