.ChartPageMore {
  font-size: 0.875rem;
  position: relative;

  li span {
    // Subtly moves padding down so background
    // doesn't block extenders from previous line.
    display: inline-block;
    padding: 0 0.125rem;
    background-color: #f0f0f0;
  }

  button {
    height: 1.5rem;

    &.icon {
      width: 1.5rem;
      font-size: 1.5rem;
      padding: 0;
    }
  }

  .topButtons {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    .apply {
      margin-right: auto;
    }
  }

  .hiSpeed {
    display: flex;
    position: relative;

    .subControl {
      position: relative;
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      text-align: center;
      
      label {
        flex-grow: 1;
      }
    }

    .line {
      position: absolute;
      top: 6px;
      left: 10%;

      width: 80%;
      height: 1px;
      background: #ddd;
    }
  }

  .normalizeBpm {
    margin-top: 0.5rem;
    display: flex;

    label {
      margin-left: 0.25rem;
      line-height: 1;
      flex-grow: 1;
    }
  }

  .transformOptions {
    display: flex;
    gap: 0.5rem;

    .firstCol, .secondCol {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .nonran, .mirror, .cross, .random, .rran {
      display: flex;

      label {
        margin-left: 0.25rem;
        line-height: 1;
        flex-grow: 1;
      }

      .subControl {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        &.withButton {
          height: 1.75rem;
        }
      }
    }

    .random, .rran {
      flex-direction: column;
      gap: 0.25rem;
    }

    .random input {
      font-size: 1rem;
    }

    .rran .subControl .description {
      display: flex;
      flex-direction: column;
      margin: 0 0.5rem;
      font-size: 0.75rem;
      text-align: center;
    }
  }

  .transformPreview {
    margin-top: 0.625rem;
    padding-bottom: 0.5rem;
    position: relative;

    .Measure {
      // Crop out everything but the note area LOL
      clip-path: rect(-8px 296px 98px 96px);
      position: relative;
      top: 4px;
      left: -54px;
    }
  }

  .noteColor {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .normal, .rhythm {
      flex-grow: 1;
      display: flex;
      align-items: center;

      label {
        margin-left: 0.25rem;
      }
    }
  }

  .randomInput.invalid {
    background-color: #eba;
  }

  .extraOptionsInput {
    font-size: 0.875rem;
    width: 100%;
  }
}
