.ChartPageSearch {
  font-family: "M PLUS 1", "Arial", sans-serif;
  padding: 1rem;

  input.search {
    margin: 0 -0.25rem;
    padding: 1rem;
    width: calc(100% + 0.5rem);
    border-color: #ccc;
    border-radius: 2rem;
  }
}
