.ChartPage {
  .body {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .MeasureList {
    margin-bottom: 30vh;

    // Measure's width is hardcoded to 390px
    // and some mobile screens are narrower than that.
    // This causes a very subtle scaling issue.
    overflow-x: hidden;
  }

  .searchButton, .moreButton {
    position: fixed;
    top: 1.5rem;
    z-index: 11;

    line-height: 1;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 50%;
  }

  .searchButton {
    left: 1.5rem;
  }

  .moreButton {
    right: 1.5rem;
  }

  @media (width < 400px) {
    .searchButton {
      left: 0.75rem;
    }

    .moreButton {
      right: 0.75rem;
    }
  }

  @media (width < 732px) {
    .mobileOnlyHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      margin-bottom: 1rem;

      position: sticky;
      top: 0.5rem;
      z-index: 10;
    }
    
    .desktopOnlyDetails {
      display: none;
    }
  }

  @media (width >= 732px) {
    .mobileOnlyHeader {
      display: none;
    }

    .desktopOnlyDetails {
      display: block;
      position: sticky;
      top: 0.5rem;

      width: 312px;
      height: fit-content;
      max-height: calc(100vh - 0.5rem);
      overflow: scroll;
      padding-bottom: 2rem;
    }
  }
}
