.Measure {
  display: flex;
  gap: 16px;
  border: 1px solid rgba(100, 100, 100, 0.8);
  border-width: 1px 0;

  .measureNumber {
    width: 80px;
    text-align: right;
    font-size: 32px;
    align-self: flex-end;
  }

  .noteArea {
    position: relative;
    width: 198px;

    .Lane {
      height: 100%;

      &.lane1, &.lane9 {
        background-color: rgba(200, 200, 200, 0.2);
      }
      &.lane2, &.lane8 {
        background-color: rgba(255, 250, 118, 0.2);
      }
      &.lane3, &.lane7 {
        background-color: rgba(182, 249, 184, 0.2);
      }
      &.lane4, &.lane6 {
        background-color: rgba(145, 190, 245, 0.2);
      }
      &.lane5 {
        background-color: rgba(246, 175, 176, 0.2);
      }
    }

    .HoldNote {
      .head, .body, .butt {
        position: absolute;
        width: 100%;
        text-align: center;
      }

      .body {
        border-style: solid;
        border-color: rgb(60, 60, 60);
        border-width: 0 1px;
      }

      &.lane1, &.lane9 {
        .body {
          background-color: rgb(235, 235, 235);
        }
      }
      &.lane2, &.lane8 {
        .body {
          background-color: rgb(255, 255, 150);
        }
      }
      &.lane3, &.lane7 {
        .body {
          background-color: rgb(200, 255, 200);
        }
      }
      &.lane4, &.lane6 {
        .body {
          background-color: rgb(171, 210, 246)
        }
      }
      &.lane5 {
        .body {
          background-color: rgb(255, 200, 200);
        }
      }
    }

    .Note {
      text-align: center;
    }

    .lane1,
    .lane2,
    .lane3,
    .lane4,
    .lane5,
    .lane6,
    .lane7,
    .lane8,
    .lane9 {
      position: absolute;
    }

    .lane1, .lane3, .lane5, .lane7, .lane9 {
      width: 22px;
    }
    .lane2, .lane4, .lane6, .lane8 {
      width: 18px;
    }

    .lane2 {
      left: 24px;
    }
    .lane3 {
      left: 44px;
    }
    .lane4 {
      left: 68px;
    }
    .lane5 {
      left: 88px;
    }
    .lane6 {
      left: 112px;
    }
    .lane7 {
      left: 132px;
    }
    .lane8 {
      left: 156px;
    }
    .lane9 {
      left: 176px;
    }

    .GuideLine {
      position: absolute;
      width: 100%;
      border-style: solid;
      border-width: 2px 0 0 0;

      &.beat {
        border-color: rgba(100, 100, 100, 0.8);
      }

      &.half {
        border-color: rgba(200, 200, 200, 0.8);
      }
    }

    .BpmEvent {
      position: absolute;

      &.initial {
        color: rgb(60, 60, 60);

        .line {
          border-color: transparent;
        }
      }

      &.increase {
        color: rgb(60, 120, 200);

        .line {
          border-color: rgb(60, 120, 200, 0.7);
        }
      }

      &.decrease {
        color: rgb(200, 120, 60);

        .line {
          border-color: rgb(200, 120, 60, 0.7);
        }
      }

      .line {
        position: relative;
        width: 198px;
        border-style: solid;
        border-width: 8px 0 0 0;
      }

      .bpm {
        position: relative;
        left: 202px;
        bottom: 28px;
      }
    }
  }
}
