$white-note: rgb(200, 200, 200);
$yellow-note: rgb(253, 247, 49);
$green-note: rgb(125, 243, 129);
$blue-note: rgb(130, 182, 255);
$red-note: rgb(237, 126, 127);

.Note {
  height: 14px;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 42% / 50%;

  &.white, &.green, &.red {
    width: 22px;
  }

  &.yellow, &.blue {
    width: 18px;
  }

  &.white {
    background-color: $white-note;
  }

  &.yellow {
    background-color: $yellow-note;
  }

  &.green {
    background-color: $green-note;
  }

  &.blue {
    background-color: $blue-note;
  }

  &.red {
    background-color: $red-note;
  }
}
