@import "styles/colors";

.Home {
  font-family: "M PLUS 1", "Arial", sans-serif;
  min-height: 100vh;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 2rem;

    .sectionHeader {
      font-size: 1.25rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1.5rem;

      span {
        margin-top: 0.125rem;
      }
    }

    .appCard {
      text-decoration: none;

      &:hover, &:focus {
        opacity: 70%;
      }

      .container {
        width: 320px;
        border: 4px solid transparent;
        border-radius: 1.25rem;
        padding: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        &.quickSearch {
          background: $e-x-light;
          border-color: $e-dark;
        }

        &.songSearch {
          background: $h-light;
          border-color: $h-dark;
        }

        &.chartSearch {
          background: $ex-light;
          border-color: $ex-dark;
        }

        &.songList {
          background: $n-light;
          border-color: $n-dark;
        }

        &.randomizer {
          background: $pu-light;
          border-color: $pu-dark;
        }

        .title {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    a {
      font-size: 1.25rem;
    }

    .sha {
        color: #888;
        font-size: 0.5625rem;
        line-height: 1;
      }
  }
}
