.Home {
  font-family: "M PLUS 1", "Arial", sans-serif;
  text-align: center;
  padding: 3rem 2rem 1rem;

  > a {
    display: block;
    margin: 2rem auto 0;
  }

  .header {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}
