.ChartSearchResultsList {
  .ChartResultCard {
    display: flex; // Block, not inline.
    margin: 0 auto;

    &.full:not(:first-child) {
      margin-top: 2.0rem;
    }
    
    &.compact {
      margin-top: 0.5rem;
    }
  }
}
