@import "styles/colors";
@import "styles/components";

.diffLevel {
  @include pill;
  @include diff-bg-colors(bright);
  @include diff-border-colors(dark);
  color: white;
}

.SongResultCard {
  display: inline-flex;
  width: 240px;
  height: 60px;
  font-family: "M PLUS 1", "Arial", sans-serif;
  padding: 0;
  border: 0;
  position: relative;
  background-color: #ddd;

  .debutLevels {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &:focus {
    outline: #07c solid 3px;
    outline-offset: 2px;
    border-radius: 2px;
  }

  &:active {
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.75);
    }
  }
}
