@import "styles/colors";

.SongResultCard {
  display: inline-flex;
  width: 240px;
  height: 60px;
  font-family: "M PLUS 1", "Arial", sans-serif;
  padding: 0;
  border: 0;
  position: relative;
  background-color: #ddd;

  .debutLevels {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &:focus {
    outline: #07c solid 3px;
    outline-offset: 2px;
    border-radius: 2px;
  }
}
