.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-style: solid;
  z-index: 11;
  opacity: 0;

  &:focus {
    opacity: 1;
  }
}

.modal {
  padding: 1rem;
}

.github {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  font-family: "M PLUS 1", Arial, sans-serif;
  line-height: 1.25;

  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 0.25rem;

  .sha {
    color: #888;
    font-size: 0.5625rem;
    line-height: 1;
  }

  a {
    // https://stackoverflow.com/a/48690899
    // box-shadow: inset 0 -1px 0 0 #222;
    // text-decoration: none;
    font-size: 1.25rem;
  }
}
