.Table {
  table-layout: fixed;
  width: 1px;

  col.banner {
    width: 128px;
  }
  col.titlegenre {
    width: 160px;
  }
  col.bpm {
    width: 48px;
  }
  col.duration {
    width: 48px;
  }
  col.notes {
    width: 100px;
  }
  col.rating {
    width: 132px;
  }
  col.sran {
    width: 36px;
  }
  col.timing {
    width: 112px;
  }

  th, td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.25rem 0.25rem;
  }

  th.bpm,
  th.duration,
  th.sran {
    text-align: right;
  }

  th.notes {
    padding-left: 0.5rem;
  }

  td.bpm,
  td.duration,
  td.sran {
    text-align: right;
  }

  td.notes {
    padding-left: 0.375rem;
  }
}
