@import "../styles/colors";

.BigPill {
  display: inline-block;
  font-family: "M PLUS 1", "Arial", sans-serif;
  text-align: left;
  padding: 1rem;
  width: 300px;
  border: 1px solid grey;
  border-radius: 3rem;

  .title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &.red {
    border-color: $ex-dark;
    background-color: $ex-light;
  }

  &.yellow {
    border-color: $h-dark;
    background-color: $h-light;
  }

  &.green {
    border-color: $n-dark;
    background-color: $n-light;
  }

  &.blue {
    border-color: $e-dark;
    background-color: $e-light;
  }
}
