.modal {
  padding: 1rem;

  .closeButton {
    position: absolute;
    top: -2.5rem;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    z-index: 11;
    opacity: 0;

    &:focus {
      opacity: 1;
    }
  }
}
