.Home {
  font-family: "M PLUS 1", "Arial", sans-serif;
  text-align: center;
  padding: 3rem 2rem 1rem;

  :not(:first-child) {
    margin-top: 2rem;
  }

  .header {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}
