.SongSearchPage {
  font-family: "M PLUS 1", "Arial", sans-serif;
  text-align: center;
  padding: 1rem;

  .header {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .input {
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    border-radius: 3rem;
  }
}
