@import "../styles/colors";
@import "../styles/components";

.diffLevel {
  @include pill;
  @include diff-bg-colors(bright);
  @include diff-border-colors(dark);
  color: white;
}

.SongResultCard {
  display: inline-block;
  width: 240px;
  font-family: "M PLUS 1", "Arial", sans-serif;
  margin-top: 1rem;
  position: relative;

  .banner {
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .folderLevels {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
}
