@import "styles/colors";
@import "styles/components";

.BrowsePage {
  font-family: "M PLUS 1", "Arial", sans-serif;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .section {
    min-width: 360px;
    max-width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .header {
      margin-top: 24px;
      position: sticky;
      top: 0;
      background: white;

      .title {
        font-size: 1.5rem;
      }

      .subtitle {
        margin-left: 4px;
        font-size: 1rem;
      }
    }

    .songRow {
      font-size: 0.75rem;
      display: flex;
      align-items: center;
      gap: 4px;

      width: 100%;
      max-width: 400px;

      .titleGenre {
        flex-grow: 1;
        max-width: calc(100% - 128px);

        .title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .genre {
          color: #444;
          font-size: 0.625rem;
          font-style: italic;
        }
      }

      .level {
        width: 28px;
        text-align: center;

        .pill {
          @include pill;
          @include diff-bg-colors(light);
          @include diff-colors(dark);
          width: 100%;
          line-height: 24px;
          box-shadow: 1px 1px 2px #aaa;
        }
      }
    }
  }
}
