@import "styles/colors.scss";

.BrowsePage {
  font-family: "M PLUS 1", "Arial", sans-serif;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .section {
    min-width: 360px;
    max-width: 800px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2px;

    .headerLink {
      position: sticky;
      top: 0;
      margin-top: 24px;
    }

    h1 {
      font-size: 1.5rem;
      max-width: 340px;
    }

    .songRow {
      font-size: 0.75rem;
      display: flex;
      gap: 4px;

      span {
        &.title {
          flex-grow: 1;
          max-width: 216px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &.level {
          width: 28px;
          text-align: right;
        }
      }
    }
  }
}
