// Load Bootstrap from node packages
// https://getbootstrap.com/docs/5.1/content/reboot/
@import "~bootstrap/scss/bootstrap-reboot";
@import "./colors.scss";

body {
  background-color: #fdfdfd;
  background-image: linear-gradient(#fdfdfd, #e2e2e2);
  min-height: 100vh;
  color: #222;
}

a {
  color: rgba(0, 0, 0, 0.8);

  @media (hover: hover) {
    &:hover:not(:active) {
      opacity: 70%;
    }
  }
}

p {
  margin: 0;
}

input {
  border-style: solid;
  border-color: #ddd;
  border-radius: 4px;
}

button {
  line-height: 1;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 3px #888;

  @media (hover: hover) {
    &:hover:enabled:not(:active) {
      transform: translate(max(-10%, -4px), max(-10%, -4px));
      box-shadow: 4px 4px 5px #666;
    }
  }

  &:active:enabled {
    transform: translate(min(8%, 3px), min(8%, 3px));
    box-shadow: 1px 1px 3px #888;
  }
}

code {
  padding: 1px;
  border: 1px solid lighten($code-color, 30%); // From Bootstrap.
}
