// Load Bootstrap from node packages
// https://getbootstrap.com/docs/5.1/content/reboot/
@import "~bootstrap/scss/bootstrap-reboot";
@import "./colors.scss";

body {
  background-color: #fdfdfd;
  background-image: linear-gradient(#fdfdfd, #e2e2e2);
  min-height: 100vh;
  color: #222;
}

a {
  color: rgba(0, 0, 0, 0.8);
}

p {
  margin: 0;
}

input {
  border-style: solid;
}

button {
  box-shadow: 0 1px 2px #555;

  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 1px 3px 4px #888;
  }

  &:active {
    transform: scale(0.925);
    box-shadow: 0 1px 2px #555;
  }
}
